<%- include('./partials/header') %>
<div class="container mt-5 text-center">
  <h1>Error 404</h1>
  <p class="lead"><%= error %></p>
  <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>
<%- include('./partials/footer') %>