<%- include('../partials/header') %>
<div class="container mt-5">
  <h2 class="text-center">Panel de Control</h2>
  <div class="row mt-4">
    <div class="col-md-3">
      <a href="/categorias" class="btn btn-primary w-100">Categorías</a>
    </div>
    <div class="col-md-3">
      <a href="/autores" class="btn btn-primary w-100">Autores</a>
    </div>
    <div class="col-md-3">
      <a href="/libros" class="btn btn-primary w-100">Libros</a>
    </div>
    <div class="col-md-3">
      <a href="/editorial" class="btn btn-primary w-100">Editoriales</a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <a href="/prestamos" class="btn btn-success w-100">Préstamos</a>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>